* {
    box-sizing: border-box;
}

 .topnav{
    
     position: fixed;
     display: flex;
     justify-content: space-between;
     text-align: center;
     padding-left: 8%;
     padding-right: 8%;
     height: 120px;
     font-family: Arial, Helvetica, sans-serif;
     background: rgb(85, 84, 84); 
     opacity: 3;
     width: 98.5%;
 }
  .topnav.stick{
     padding: 13px 0;
     background: black;
 } 
.topnav .logo{
     color: white;
     font-size: 35px;
     letter-spacing: 1px;
     cursor: pointer;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .topnav .logo span{
     color: #f9004d;
 }
 .topnav ul li{
     list-style-type:none ;
     display: inline-block;
     padding: 10px 30px;  
     font-size: 20px; 

 }
 .topnav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20;
    }
.topnav ul li a:hover{
        color: #f9004d;
        transition: 0s;
    }
.topnav .btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    margin: 10px 5px;
    padding: 10px 30px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    align-items: center;
    
}    
.topnav .btn:hover{
    transform: scale(1.1);

}   
.home{
    height: 800px;
    width: 100%;
    background-image: url(images/proo.jpg);
    background-size: cover ;
    background-position: center;
  } 
.homecontent{
    position: absolute;
    top: 50px;
    left: 8%;
    transform: translateY(60%);
}
.homecontent h1{
    color:white;
     margin: 20px 0px;
     font-size: 70px;
    float: right;
}
.homecontent h3{
    color:white;
     margin: 20px 0px;
     font-size: 50px;
     
}
h4{
    color:#585c63;
     letter-spacing: 2px;
     font-size: 20px;
} 
.newslatter form{
    width: 380px;
    max-width: 100%;
    position:relative
}
.newslatter form input:first-child{
    display: inline-block;
    padding: 14px 130px 15px 15px;
    width: 100%;
    border: 2px solid #f9004d;    
    outline: none;
    border-radius: 30px;
    }
.newslatter form input:first-child{
    display: inline-block;
    padding: 14px 130px 15px 15px;
    width: 100%;
    border: 2px solid #f9004d;    
    outline: none;
    border-radius: 30px;
    }
    .newslatter form input:last-child{
        display: inline-block;
        padding: 10px 30px;
        border: none;
        border-radius: 30px;
        position: absolute;
        background-color: #f9004d;
        color: white;
        cursor: pointer;
        box-shadow: 0px 0px 5px #000;
        top: 6px;
        right: 6px;
        }
        .newslatter form input:last-child:hover{
            transform: scale(1.1);
        }

.share    {
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
}
.share a{
    padding: 4px;

}
.share a img{
    width: 30px;
    height: 30px;
}
.share a img:hover{
    transform: scale(1.5);
}







/* about me */ 


.about{
    background-size: cover;
    position: inherit;
} 
.aboutcontent{
    top: 50px; 
    width: 80%;
    margin: 40px auto;
    font-family: 'poppins',sans-serif;
}
.about .title{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 50px;
    font-family:Bernard MT Condensed ;
}
.about .title span{
    font-size: 50px;
    font-weight: 600;
    color: #f9004d;
    font-family:Bernard MT Condensed ;
    padding-bottom: 2px;
    
}
.about .about-details{
    display: flex;
    justify-content: space-between;
}
.about .about-details .left{
    width: 45%;

}

.about .about-details .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.about .about-details .right{
    width: 55%;
}
.about .about-details .right .topic{
    font-size: 25px;
    font-weight: 500;
    font-family:Bernard MT Condensed ;
    color: teal;
    margin-bottom: 10px;
}
.about-details .right p{
   text-align: justify;
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif;
}
.about-details .right button{
    color: white;
    background-color: teal;
    border-radius: 30px;
    font-size: 24px;
    font-family:Bernard MT Condensed ;
    border-color: white;
    padding: 4px;
    
    
}
.about-details .right button:hover{
    background-color: white;
    color: teal;
}



/* skills */



.skills{
    position: inherit;
    
}

 .skillscontent{
    top: 230%;
    width: 80%;
    margin: 40px auto;
    font-family: 'poppins',sans-serif;
    
}
.skills .title{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 50px;
    font-family:Bernard MT Condensed ;
}
.skills .title span{
    font-size: 50px;
    font-weight: 600;
    color: #f9004d;
    font-family:Bernard MT Condensed ;
    padding-bottom: 2px;
}




.skills .skill-details{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}
.skills .skill-details .left{
    width: 50%;

}
.skills .skill-details .left .topic{
    font-size: 30px;
    color: teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;;

}
.skills .skill-details .left p{
    color: #0e2431;
    text-align: justify;
}
.skill-details .left .experience{
    display: flex;
    align-items: center;
}
.skill-details .left .experience .num{
    font-size: 80px;
    color: #0e2431;
    font-weight: 500;
    }
    .skill-details .left .experience .exp{
        font-size: 18px;
        font-weight: 500;
        }    
.skills .skill-details .boxes{
    width: 65% ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 40px;
}
.skills .skill-details .boxes .box{
    margin: 10px 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(121, 106, 106, 0.15);
    text-align: center;
    padding: 10px 15px;
}
.skills .skill-details .boxes .box .topic{
    font-size: 20px;
    font:weight 500;
    color: teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skills .skill-details .boxes .box .num{
    font: weight 500px;
    color: #0e2431;
    font-size: 60px;
}
.skills .skill-details .boxes .box .topic span{
    font-size: 30px;
}



/* services */




.services{
    top: 250px;
}
.servicescontent{
    top: 350%;
}
.services .topic{
    font-size: 30px;
    color: teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.services .title{
    font-size: 50px;
    text-align: center;
    font-family:Bernard MT Condensed ;
}
.services .title span{
    font-size: 50px;
    color: #f9004d;
    font-family:Bernard MT Condensed ;
    
}
.services .boxes{
    display: flex;
    justify-content: space-between;
}
.services .boxes .box{
    
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.15);
    text-align: center;
    padding: 20px 30px;
}
.services .boxes .box:hover{
    color: #fff;
    background-color: rgb(85, 84, 84);
} 
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    text-align: center;
    color: #fff;
}





/* contact */


.contact{
    background-size: cover;
    background-color:silver;
}
.contact .title{
    text-align: center;
    font-size: 50px;
    font-family:Bernard MT Condensed ;
    
}
.contact .title span{
    color: #f9004d;}
.contactcontent{
    display: flex;
}
.contactcontent .left{
    width: 45%;
    text-align: center;
}
.contactcontent .left h1{
    color: teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contactcontent .right{
    width: 45%;
    
}
.contactcontent .right h1{
    color: teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
contactcontent .right textarea{
    border: 2px solid #f9004d;  
}
.contactcontent .right form{
    width: 380px;
    max-width: 100%;
    position:relative
}
.contactcontent .right form input:first-child{
    display: inline-block;
    padding: 14px 130px 15px 15px; 
    width: 100%;
    border: 2px solid #f9004d;    
    outline: none;
    border-radius: 30px;
    }
    .contactcontent .right form input:first-child{
    display: inline-block;
    padding: 14px 130px 15px 15px;
    width: 100%;
    border: 2px solid #f9004d;    
    outline: none;
    border-radius: 30px;
    }
    .contactcontent .right form input:last-child{
        display: inline-block;
        padding: 10px 30px;
        border: none;
        border-radius: 30px;
        position: absolute;
        background-color: #f9004d;
        color: white;
        cursor: pointer;
        box-shadow: 0px 0px 5px #000;
        top: 6px;
        right: 6px;
        }
        .contactcontent .right form input:last-child:hover{
            transform: scale(1.1);
        }


    .foot{
        background: rgb(85, 84, 84);
        text-align: center;
        font-size: 24px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: white;
    }